@use 'sass:math';

.game-container {
  $pipes-container-z-index: 432;

  width: 100vw;
  height: 100vh;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .debug-tools {
    position: absolute;
    top: 0;
    left: 0;
    margin: 24px;
    z-index: $pipes-container-z-index + 100;

    .start-point-button {
      width: 150px;
    }
  }

  .pipes-container {
    background-color: black;
    overflow: hidden;
    aspect-ratio: 4 / 3;
    position: relative;
    z-index: $pipes-container-z-index;

    & > * {
      position: absolute;
    }

    .pipe {
      outline: solid 4px white;
      z-index: $pipes-container-z-index + 1;
    }

    .vertex-index {
      color: white;
      z-index: $pipes-container-z-index + 2;
    }

    .start-target {
      z-index: $pipes-container-z-index + 3;
      left: 0;
      top: 0;
      position: relative;

      &::before, &::after {
        $line-width: 4px;
        content: '';
        position: absolute;
        background-color: #ffef77;
        width: 100%;
        height: $line-width;
        left: 0;
        top: calc(50% - math.div($line-width, 2));
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    .mousemove-overlay {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: $pipes-container-z-index + 99;
    }
  }
}
