.game-container {
  width: 100vw;
  height: 100vh;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pipes-container {
  background-color: black;
  overflow: hidden;
  aspect-ratio: 4 / 3;
  position: relative;
}

.pipe {
  position: absolute;
  outline: solid 3px white;
}
